---
// 接受导航项的属性
const { label, href, isActive } = Astro.props;
---
<li>
  <a href={href} class={`nav-link ${isActive ? 'active' : ''}`}>{label}</a>
</li>

<style>

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  display: block;
  text-align: center;
  width: 150px;
  margin: 2px 0 2px 0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  transition: color 0.4s ease;
}

.nav-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(206, 206, 206, 0.4);
  transition: left 0.3s ease;
  border-radius: 50%;
}

.nav-link:hover::before {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

.nav-link:hover:not(.active) {
  color: #000000; /* 保持字体颜色不变 */
}

.nav-link.active {
  background-color: #333;
  color: #fff;
}

@media (max-width: 768px) {
  .nav-link {
    padding: 10px 20px;
  }
}
</style>
